body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container{
  display: flex;
  flex-direction: column;
  background-color: #272727;
  border-radius: 8px;
  width: 70%;
  max-width: 500px;
}

.input-field{
  background-color: transparent;
  outline: none;
  border: 1px solid #cbd5e1;
  height: 40px;
  color: #f8fafc;
}

.login-page-logo{
  width: 40%;
}

.nav-logo{
  width: 80%;
}

.nav-menu{
  text-decoration: none !important;
  color: #ffffff;
  font-size: 15px;
}

.boxx{
  height: 150px;
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
  flex-shrink: 0;
}

.home-container{
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  background-position: center;
}

.text-container{
  width: 50% !important;
}

.home-text-heading{
  font-size: 60px;
  font-weight: 800;
  text-transform: capitalize;
}

.home-text-description{
  font-size: 24px;
  line-height: 40px;
}

.profile-container{
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 200px;
  border-radius: 12px;
}

.hr-line{
  height: 2px;
}

.job-card{
  background-color: #272727;
  border-radius: 8px;
  cursor: pointer;
}

.company-logo{
  height: 56px;
  width: 56px;
}

.job-card-title{
  font-size: 18px;
}

.job-card-description{
  font-size: 15px;
}

.star-icon{
  color: gold;
}

.search-box{
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}

.profile-name{
  font-size: 24px;
  font-weight: 600;
  color: #4546e5;
}

.profile-description{
  font-size: 16px;
  font-weight: 500;
  color: #64748b;
}